*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #7FFFD4;
}

header{
    height: 80px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-left{
    display: flex;
    align-items: center;
}

.header-left img{
    width: 50px;
}

.play-button{
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

#label-difficulty{
    font-size: 18px;
    margin-right: 5px;
}

#difficulty{
    padding: 10px;
    font-size: 18px;
    margin-right: 10px;
}

main{
    height: calc(100vh - 130px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 500px;
    height: 500px;
}

.grid{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.square{
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square-100{
    width: calc(100% / 10);
    height: calc(100% / 10);
}

.square-81{
    width: calc(100% / 9);
    height: calc(100% / 9);
}

.square-49{
    width: calc(100% / 7);
    height: calc(100% / 7);
}

.checked{
    background-color: red;
}

footer{
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    display: flex;
    align-items: center;
}

footer p{
    font-size: 20px;
    padding-left: 20px;
}